.reveal section {
  font-size: 0.7em;  
}

.hanging-indent {
  font-size: 60%;
  display: block;
  margin-left: 4em;    
  text-indent: -4em;   
  white-space: normal; 
}

.plotly.html-widget {
  height: 500px !important;
  width: 100% !important;
  margin: auto;
}

.plotly-graph-div {
  margin: auto;
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}

.plot-container {
  overflow: visible !important;
  height: auto;
}
.reveal .slide {
  overflow-y: visible !important;
}